.main{
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  margin: 20px auto;
  width: 80%;
  height: 90%;
  text-align: center;
  margin-top: 5px;
  color:rgb(13, 78, 56);
  background-color: rgb(112, 170, 112);
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
}

.container{
  border: 1px solid black;
  padding: 5px;
  height: 73%;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
}

.box{
  border: 1px solid black;
  width: 80%;
  justify-content: space-between;
  text-align: center;
  margin-left: 10%;
}